.fotos-portfolio{
    display: inline-block;
    border: 8px solid black;
    padding: 16px;
    margin-right: 16px;
    margin-bottom: 16px;
    background-color: #FAFFFC;
    width: 360px;
    box-sizing: border-box;
    margin-left: 16px;
}
p{
    font-family: "Crimson Text", "Times New Roman", serif;
	background-color: #F2FFFC;
	font-size: 100%;
	line-height: 1.5;
    margin-left: 16px;
}
.projeto-bmw{
    float: left;
    clear: left;
}
.projeto-uol{
    float: left;
    clear: right;
}
.projeto-ibm{
    float:left;
    clear: left;
}
.projeto-g1{
    float: left;
    clear: right;
}